@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

body {margin: 10px;}
.where {
    display: block;
    margin: 25px 15px;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    font-family: verdana;
    font-style: italic;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

/* imaged preview */
.filebox .upload-display {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .filebox .upload-display {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.filebox .upload-thumb-wrap {
    display: inline-block;
    width: 54px;
    padding: 2px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.filebox .upload-display img {
    display: block;
    max-width: 100%;
    width: 100% \9;
    height: auto;
}

.filebox.bs3-primary label {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.wide-btn {
    display : inline-block;
    width: 150px;
    height: 32px;
    background-color: blue;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.wide-btn:not(:first-of-type) {
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid var(--highlight-color);
    color: var(--text-color);
    background-color: unset;
    line-height: 28px;
}

.emoji-list{
    list-style: none;
}

.emoji-package{
    position: relative;
    float: left;
    width: 160px;
    padding: 10px;
    margin: 10px 0 0 10px;
    border : 1px solid gray;
}

.emoji-link{
    width: 140px;
    display: block;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.emoji-name{
    margin-top: 10px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.emoji-btn {
    width : 100%;
    display: block;
    clear : both;
}

.emoji-wrapper{
    width: 70%;
    height: 1000px;
    background-color: var(--box-bg-color);
    margin : 0 auto;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow: hidden;
}

.title-div{
    width : 100%;
    margin-top : 50px;
    margin-left : 50px;
}