@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");

* {
    font-family: "IBM Plex Sans KR", sans-serif;
    word-break: keep-all;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.body {
    width: 100%;
    max-width: 500px;
    height: auto;
    box-sizing: border-box;
    padding: 40px;
}

ion-icon {
    vertical-align: -0.1em;
}

ion-icon:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.terms {
    display: inline-block;
    margin: 5px 0;
}

.terms > a {
    text-decoration: none;
    color: #0079D3;
}

.google-auth-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 44px;
    background-color: white;
    line-height: 44px;
    border: 1px solid #dadce0;
    border-radius: 22px;
    text-align: center;
    margin: 30px 0 20px 0;
    box-sizing: border-box;
}

.google-auth-btn > ion-icon {
    margin-right: 10px;
    color: #4285F4;
}

.google-auth-btn:hover {
    background-color: rgba(66, 133, 244, 0.1);
}

.divider {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider > span {
    background-color: white;
    padding: 0 10px;
    color: gray;
    font-weight: 500;
}

.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    z-index: -1;
}

form {
    margin: 0 auto;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 1px solid #EDEFF1;
    background-color: #F2F4F7;
    color: #000000;
    width: 100%;
    height: 44px;
    border-radius: 22px;
    padding: 0 20px;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

input[type="submit"] {
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: #0079D3;
    color: white;
    border: none;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0067B3;
}

.login-hint {
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
}

.login-hint > a {
    color: #0079D3;
}

.disabled {
    background-color: #b5d6f3 !important;
    pointer-events: none;
}

#emailHint {
    display: inline-block;
    margin-top: 5px;
}

@media (min-width: 601px) {
    .body {
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 48px 40px;
    }
}
